<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hit.wi.ve"
    android:versionCode="16"
    android:versionName="1.3">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 友盟权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/wi_ve_v1"
        android:label="@string/app_name">
        <service
            android:name="com.hit.wi.ve.SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="com.hit.wi.ve.settings.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hit.wi.ve.settings.WIT9Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hit.wi.ve.settings.HandBookActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/user_guide"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hit.wi.ve.settings.AboutWiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/about"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hit.wi.ve.settings.DonateWiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/donate"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hit.wi.ve.settings.UpdateLogActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_update_log"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hit.wi.ve.settings.UnshownHelpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hit.wi.ve.settings.ShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_share"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hit.wi.ve.settings.SkinPickerActivity"
            android:label="@string/title_activity_skin_picker"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.hit.wi.ve.settings.QuickSymbolAddActivity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="548e8e10fd98c5a081000101" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="WanDouJia" />

        <activity
            android:name="com.hit.wi.ve.settings.SkinDiyActivity"
            android:label="@string/title_activity_skin_picker"
            android:theme="@style/AppBaseTheme" />
    </application>

</manifest>
